<!DOCTYPE html>
<html lang="es">
<head>
                <!-- configuracion pagina-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oscarscamper</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="imagen/png" href="../assets/images/favicomfurgo.png">
</head>
<body class="hero">
    <header>
                   <!-- menu hamburguesa -->
        <nav class="navbar">
            <div>
                <img src="../assets/images/logofurgoneta.png" alt="logodeoscarcamper" class="logo">
            </div>
            <input type="checkbox" id="check-menu"
            class="check-menu">
            <Ul class="nav-links">
                <li><a href="../index.html">inicio</a></li>
                <li><a href="../views/productos.html">productos</a></li>
                <li><a href="../views/presuouesto.html">presupuestos</a></li>
                <li><a class="active" href="#Contactos">contactos</a></li>
            </Ul>
            <label for="check-menu" class="label-check">
                <img src ="../assets/images/menu-1-svgrepo-com(1).svg" alt="logomenuhamburguesa" class="menu-haburguesa" width="40" height="40">
            </label>            
        </nav>
    </header>
                 <!-- estructura main contactos -->
        <main class="recogida">
          <section class="contenido1"> 
            <h1>Oscarcamper</h1>
          </section>
        <div class="mapa">
            <a href=" https://parquecavaleri.com/"> <img src="../assets/images/capturaosccamp.png" alt="foto-googlemap" width="537" height="529"> </a>
        </div>
        <div class="direccion">
        <p>ctra Sevilla a,S/N 41920 San Juan de Aznalfarache , Sevilla.<br>oscarmo1979.omo@gmail.com.<br>643123478<br>678923109</p>
        </div>
        <div class="mensajerecogida">
            <p>Tenemos la opción de entregar y recoger en un radio de 50 km desde la base de de las furgonetas</p>
        </div>
    </main>
                <!-- estructura pie contactos -->
    <footer class="pie">
        <div >
            <p>Todos los derechos reservados</p>
        </div> <p>ctra Sevilla a,S/N 41920 San Juan de Aznalfarache , Sevilla.</p>
        <div class="enlacepie">  
            <a href="//es-la.facebook.com/"> <img src="../assets/images/logoface.svg" alt="logo face" width="40" height="40"> </a>
            <a href="https://www.instagram.com/"> <img src="../assets/images/logoinsta.svg" alt="logo de instagran" width="40" height="40"></a>
        </div>
    </footer>    
</body>
</html>