<!DOCTYPE html>
<html lang="es">
<head>
                    <!-- configuracion pagina-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oscarscamper</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="imagen/png" href="../assets/images/favicomfurgo.png">

</head>
<body class="hero">
    <header>
                      <!-- menu hamburguesa -->
        <nav class="navbar">
            <div>
                <img src="../assets/images/logofurgoneta.png" alt="logodeoscarcamper" class="logo">
            </div>
            <input type="checkbox" id="check-menu"
            class="check-menu">
            <Ul class="nav-links">
                <li><a href="../index.html">inicio</a></li>
                <li><a class="active" href="#Productos">productos</a></li>
                <li><a href="../views/presuouesto.html">presupuestos</a></li>
                <li><a href="../views/contacto.html">contactos</a></li>
            </Ul>
            <label for="check-menu" class="label-check">
                <img src ="assets/images/menu-1-svgrepo-com(1).svg" alt="logomenuhamburguesa" class="menu-haburguesa" width="40" height="40">
            </label>            
        </nav>
    </header>
                 <!-- estructura main productos galeria-->
    <main class="galeria">
         <section class="contenido1">
           <h1>Oscarcamper</h1>
         </section>
         <section class="contenido">
              <h2>¿Que te ofrecemos?</h2>
              <p>En nuestra flota te ofrecemos camper pequeñas.<br>Emprende tu aventura sin límites con nuestra selección de campers compactas.Perfectas para escapar de la rutina,estas furgonetas son fáciles de manejar y te ofrecen la libertad de explorar cualquier rincón.Dentro de su tamaño,encontrarás todo lo que necesitas para un viaje cómodo y memorable.Echa un vistazo a nuestra galería y encuentra la camper ideal para tu próxima escapada.  </p>
         </section>
             <div class="contenedor-fotos">
                  <div class="caja"> <p class="texto-galeria">Furgoneta 1</p>
                    <img src="../assets/imagesvansosccp/img1vans.jpg" alt="furgoneta roja camper" width="275" height="193">
                    <img src="../assets/imagesvansosccp/img1vansint.jpg" alt="furgoneta roja interior" width="275" height="183">
             </div> 
             <div class="caja"><p class="texto-galeria">Furgoneta 2</p>
                   <img src="../assets/imagesvansosccp/img2vans.jpg" alt="furgoneta azul camper" width="275" height="183"> 
                   <img src="../assets/imagesvansosccp/img2vansint.jpg" alt="furgoneta azul interior" width="284" height="177">
             </div>    
             <div class="caja"><p class="texto-galeria">Furgoneta 3</p>
                    <img src="../assets/imagesvansosccp/img3vans.jpg" alt="furgoneta turquesa camper" width="300" height="168">
                    <img src="../assets/imagesvansosccp/img3vansint.jpg" alt="furgoneta turquesa interior" width="259" height="194" >
             </div>    
             <div class="caja"><p class="texto-galeria">Furgoneta 4</p>
                <img src="../assets/imagesvansosccp/img4vans.jpg" alt="furgoneta verde camper" width="259" height="194">
                <img src="../assets/imagesvansosccp/img4vansint.jpg" alt="furgoneta verde ineriores" width="275" height="183">
             </div>
             <div class="caja"><p class="texto-galeria">Furgoneta 5</p>
                <img src="../assets/imagesvansosccp/img5vans.jpg" alt="furgoneta amrilla" width="259" height="194">
                <img src="../assets/imagesvansosccp/img5vansint.jpg" alt="furgoneta amarilla interiores" width="259" height="194">
             </div>
             <div class="caja"><p class="texto-galeria">Furgoneta 6</p>
                <img src="../assets/imagesvansosccp/img6vans.jpg" alt="furgoneta blanca" width="275" height="183">
                <img src="../assets/imagesvansosccp/img6vansint.jpg" alt="furgoneta blanca interior" width="259" height="194">
            </div>
            </div>
    </main>
                    <!-- estructura footer  productos-->
    <footer class="pie">
        <div >
            <p>Todos los derechos reservados</p>
        </div> <p>ctra Sevilla a,S/N 41920 San Juan de Aznalfarache , Sevilla.</p>

        <div class="enlacepie">  
            
            <a href="//es-la.facebook.com/"> <img src="../assets/images/logoface.svg" alt="logo face" width="40" height="40"> </a>
            <a href="https://www.instagram.com/"> <img src="../assets/images/logoinsta.svg" alt="logo de instagran" width="40" height="40"></a>
        </div>
    </footer>
</body>

</html>

